.top-bar {
  background-color: #7e99a3;
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #e4eaef;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.header h1 {
  color: black;
  font-size: 16px;
}

.input-field {
  width: 120px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

.change-button {
  background-color: #ffffff;
  border: 1px solid #3b15d2ff;
  color: #3b15d2ff;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  width: 80px;
}

.view-transaction {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #3b15d2ff;
  border: 1px solid #3b15d2ff;
  display: flex;
}

.view-transaction-text {
  color: #ffffff;
  font-weight: bold;
  margin: auto;
  text-decoration: none;
  font-size: 14px;
}
